# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2

_helpers:
    - &ruby_image
      image: circleci/ruby:2.5.1
    - &setup1 checkout
    - &setup2
      run:
          name: Print debug information
          command: |
            ruby --version
  
    - &setup3
      run:
          name: Install ruby dependencies
          command: bundle

machine:
    timezone: America/Los_Angeles

jobs:
    build:
        working_directory: ~/platform-documentation
        docker:
            - *ruby_image
        steps:
            - *setup1
            - *setup2
            - *setup3

            - run:
                  name: Build docs
                  command: bundle exec middleman build --clean

    deploy_to_s3:
        working_directory: ~/platform-documentation
        docker:
            - *ruby_image
        steps:
            - *setup1
            - *setup2
            - *setup3

            - deploy:
                  name: Uploading Styleguidist bundles to S3
                  command: /bin/bash publish_to_s3.sh

workflows:
    version: 2
    primary_workflow:
        jobs:
            - build
            - deploy_to_s3